In [1]:
import recordlinkage as rl
import pandas as pd
import os

In [2]:
p = '../data/'
fn = 'FInalDataset.csv'
filePath = os.path.join(p,fn)

In [3]:
filePath

'../data/FInalDataset.csv'

In [4]:
df = pd.read_csv(filePath)

In [5]:
df.head()

,EnterpriseID,LAST,FIRST,MIDDLE,SUFFIX,DOB,GENDER,SSN,ADDRESS1,ADDRESS2,ZIP,MOTHERS_MAIDEN_NAME,MRN,CITY,STATE,PHONE,PHONE2,EMAIL,ALIAS
0,13125316.0,BERRYMAN,MARTHA,NaN,NaN,8/6/1993,FEMALE,857-46-5079,1120 CLAY AVE,4G,10456,NaN,NaN,BRONX,NY,732-461-9820,NaN,NaN,NaN
1,14423865.0,DESCHOMP,HAROLD,NaN,NaN,6/13/1973,MALE,822-36-9891,1172 E 73RD ST,PVT,11224,NaN,NaN,BROOKLYN,NY,929-275-3170,NaN,NaN,NaN
2,15058700.0,THOMAS,JO,JOSEFINA,NaN,5/26/1990,FEMALE,882-90-8105,1780 LAFAYETTE AVE,1B,10473,NaN,NaN,BRONX,NY,934-716-4031,934-716-4031,NaN,NaN
3,14377701.0,CHEVALIER,AULIO,NaN,NaN,5/14/2014,MALE,877-20-3599,330 FIRST AVE,NaN,10029,NaN,NaN,NEW YORK,NY,631-718-3288,NaN,NaN,NaN
4,14946687.0,CERVANTES,LEAH,NaN,NaN,1/26/1990,FEMALE,NaN,755 WHITE PLS RD,24K,10473,NaN,NaN,BRONX,NY,631-733-8223,NaN,NaN,NaN

In [6]:
# block_class = recordlinkage.BlockIndex('LAST')
# candidate_links = block_class.index(df, df)